html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body .container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
body .hr {
  width: 50px;
  height: 2px;
  border: 2px solid #00A4E5;
}
body .btn {
  min-width: 150px;
  height: 36px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background-color: #16ACE8;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
body .btn:hover {
  color: #16ACE8;
  background-color: #FFFFFF;
  border: #16ACE8 solid 2px;
}

.header {
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1020px;
}
.header__logo {
  padding-top: 41px;
  padding-bottom: 380px;
  text-align: center;
}
.header__logo-img {
  width: 101.62px;
  height: 23px;
}
.header__title {
  font-family: "Open Sans", sans-serif;
  min-height: 50px;
  color: #FFFFFF;
  line-height: 70px;
  letter-spacing: 5.70937px;
  vertical-align: top;
  text-transform: uppercase;
  text-align: center;
}
.header__sub-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-bottom: 360px;
  text-align: center;
}
.header__scroll {
  padding-bottom: 71px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 3.7px;
  color: #FFFFFF;
  height: 15px;
  text-align: center;
}
.header__scroll a {
  width: 120px;
  height: 15px;
}

.navigation {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
}
.navigation__menu {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__logo img {
  width: 79px;
  height: 18px;
}
.navigation__nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #48555B;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 1.09091px;
  padding-left: 30px;
}
.navigation__nav a:hover {
  color: #00A4E5;
}

.story {
  padding-top: 57px;
  margin-bottom: 10px;
}
.story__title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2.30625px;
  color: #48555B;
  padding-bottom: 10px;
}
.story__hr {
  margin: 0 auto;
  margin-bottom: 60px;
}
.story__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.story__wrapper-left {
  max-height: 244px;
  padding-right: 70px;
}
.story__wrapper-left-h3 {
  margin-top: -25px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  text-align: left;
}
.story__span {
  color: #16ACE8;
}
.story__wrapper-left-p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  text-align: left;
  padding-top: 30px;
}
.story__wrapper-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.story__wrapper-right img {
  padding-left: 20px;
  height: 224px;
}
.story__wrapper-right img:first-child {
  padding-left: 0;
}

.services {
  padding-top: 117px;
}
.services__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 36px;
}
.services__header-title {
  min-width: 205px;
}
.services__header-title-h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  color: #48555B;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 10px;
}
.services__header-p {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  color: #48555B;
  text-align: start;
  margin-left: 154px;
}
.services__header-btn {
  margin-left: 25px;
}
.services__service {
  padding-top: 78px;
  padding-bottom: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__service-item {
  padding: 38px 23px;
  margin-left: 23px;
  border: 2px solid #48555B;
}
.services__service-item:first-child {
  margin-left: 0;
}
.services__service-item-img {
  width: 65.62px;
  height: 75px;
}
.services__service-item-h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.426667px;
  color: #48555B;
  padding-top: 25px;
  text-transform: uppercase;
}
.services__service-item-p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1875px;
  color: #48555B;
  padding-top: 13px;
}

.touch {
  background-image: url("../img/touch-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 498.24px;
}
.touch__text {
  width: 100%;
  max-width: 350px;
  padding-top: 120px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #48555B;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.touch__btn {
  margin-top: 35px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.signup {
  min-height: 100px;
  background: #171819;
  margin-top: -2px;
}
.signup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}
.signup__text {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
}
.signup__form {
  padding-left: 70px;
}
.signup__form-mail {
  min-height: 36px;
  min-width: 250px;
  padding: 0 16px;
  border: none;
}
.signup__btn {
  margin-left: -5px;
}

.footer {
  background: #141A20;
  min-height: 240px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 26px;
  padding-bottom: 66px;
}
.footer__compani {
  max-width: 250px;
}
.footer__compani-h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  margin-bottom: 19px;
  text-transform: uppercase;
}
.footer__compani-logo {
  max-width: 101.62px;
  margin-bottom: 15px;
}
.footer__compani-p {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #FFFFFF;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__links-mid {
  margin-left: 34px;
}
.footer__links-right {
  margin-left: 36px;
}
.footer__links-a {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 15px;
  text-transform: uppercase;
}
.footer__contacts {
  max-width: 141px;
}
.footer__socials {
  max-width: 87px;
}
.footer__contacts-a {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 25px;
  display: inline-block;
}
.footer__socials-img {
  width: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.footer__copyright {
  background: #171819;
  min-height: 60px;
  text-align: center;
}
.footer__copyright-p {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  padding-top: 22px;
}

@media (max-width: 992px) {
  .navigation {
    padding: 0 25px;
  }
  .story {
    padding: 20px 25px 40px;
    text-align: center;
  }
  .story__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story__wrapper-left {
    padding-right: 0;
  }
  .story__wrapper-left-h3 {
    text-align: center;
  }
  .story__wrapper-left-p {
    text-align: center;
    padding-bottom: 25px;
  }
  .story__wrapper-right {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .services {
    padding: 40px 25px 40px;
  }
  .services__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__service {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .services__service-item {
    margin-left: 0;
    margin-top: 20px;
  }
  .services__header-p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25px;
  }
  .services__header-title-hr {
    margin: 0 auto;
  }
  .signup__wrapper {
    padding: 15px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .signup__text {
    margin-bottom: 15px;
  }
  .signup__form {
    padding-left: 0px;
  }
  .signup__btn {
    margin: 15px 0;
  }
  .footer {
    margin-top: -1px;
  }
  .footer__wrapper {
    padding: 30px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__links {
    margin-top: 20px;
  }
  .footer__contacts {
    margin-top: 20px;
  }
  .footer__socials {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
  .story {
    padding-top: 30px;
  }
}
@media (max-width: 576px) {
  .story__wrapper-right {
    display: none;
  }
  .header__sub-title {
    padding-bottom: 250px;
  }
}/*# sourceMappingURL=main.css.map */