body {
  .container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
  .hr {
    width: 50px;
    height: 2px;
    border: 2px solid #00A4E5;
  }
  .btn {
    min-width: 150px;
    height: 36px;
    font-family: $font-stack;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #16ACE8;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
      color:#16ACE8;
      background-color:#FFFFFF;
      border:#16ACE8 solid 2px;
    }
  }
}



