@media(max-width: 992px) {
    .navigation {
        padding: 0 25px;
    }
    .story {
        padding: 20px 25px 40px;
        text-align: center;
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__wrapper-left {
            padding-right: 0;
        }
        &__wrapper-left-h3 {
            text-align: center;
        }
        &__wrapper-left-p {
            text-align: center;
            padding-bottom: 25px;
        }
        &__wrapper-right {
            align-self: center;
        }
    }
    .services {
        padding: 40px 25px 40px;
        &__header {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__service {
            flex-wrap: wrap;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__service-item {
            margin-left: 0;
            margin-top: 20px;
        }
        &__header-p {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 25px;
        }
        &__header-title-hr {
            margin: 0 auto;
        }
    }
    .signup {
        &__wrapper {
            padding: 15px 15px;
            flex-direction: column;
            align-items:center;
        }
        &__text {
            margin-bottom: 15px;
        }
        &__form {
            padding-left: 0px;
        }
        &__btn {
            margin: 15px 0;
        }    
    }
    .footer {
        margin-top: -1px;
        &__wrapper {
            padding: 30px 30px;
            flex-direction: column;
            align-items:center;
        }
        &__links {
            margin-top: 20px;
        }
        &__contacts {
            margin-top: 20px;
        }
        &__socials {
            margin-top: 20px;
        }
    }
}

@media(max-width: 768px) {
    .navigation {
        position: fixed;
        height: 100vh;
        width: 50%;
        left: -100%;
        transition: 0.5s all;
        &_active {
            left: 0;
        }
        &__menu {
            height: 100vh;
            width: 50%;
            flex-direction: column;
            justify-content: center;
        }
        &__logo {
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    .hamburger {
        display: block;
        position: fixed;
        span {
            display: block;
        }
    }

    .story {
        padding-top: 30px;
    }
}

@media(max-width: 576px) {
    .story {
        &__wrapper-right {
            display: none;
        }
    }
    .header {
        &__sub-title {
            padding: 50px 25px 250px 25px;
        }
    }
}