@media(max-width: 992px) {
    .navigation {
        padding: 0 25px;
    }
    .story {
        padding: 0 25px 40px;
        text-align: center;
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__wrapper-left {
            padding-right: 0;
        }
        &__wrapper-left-h3 {
            text-align: center;
        }
        &__wrapper-left-p {
            text-align: center;
            padding-bottom: 25px;
        }
        &__wrapper-right {
            align-self: center;
        }
    }
    .services {
        padding: 40px 25px 40px;
        &__header {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__service {
            flex-wrap: wrap;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__service-item {
            margin-left: 0;
            margin-top: 20px;
        }
        &__header-p {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 25px;
        }
        &__header-title-hr {
            margin: 0 auto;
        }
    }
}

@media(max-width: 768px) {
    .navigation {
        display: none;
    }
    .story {
        padding-top: 30px;
    }
}

@media(max-width: 576px) {
    .story {
        &__wrapper-right {
            display: none;
        }
    }
    // .services {
    //     &__header {
    //         padding-top: 50px;
    //     }
    // }
}